.navigation {
  font-size: 1em;
  height: 60px;
  background-color: #32292f;
  padding: 1% 0 1% 0;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: auto;
  display: flex;
}

a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  text-align: center;
  transition: 0.4s;
  margin:1px;
}

a:hover {
  background-color: #96e1d9;
  color: #32292f;
}


.active{
  background-color: #6EABB0;
}

